In [231]:
import pandas as pd
import numpy as np
import json
import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe
!conda install -c anaconda lxml --yes

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

In [232]:
filename='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [236]:

df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M',header=None)
print(type(df)) # it is a list and our informations in stored in the first element of the list
d=df[0] # get the first element of list
type(df[0]) # check that it is the datframe we are looking for:  shows in output

<class 'list'>

pandas.core.frame.DataFrame

In [88]:
d.head() # view first 5 lines of dataframe

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [237]:
a=d.Borough=='Not assigned' # list with with true and false

d=d.drop(d[a].index) #drops the INDEX of all True from above list

d.loc[d.Neighbourhood=='Not assigned'] # finds where neighborhood is not assigned

  Postcode       Borough Neighbourhood
9      M9A  Queen's Park  Not assigned

In [239]:
d1.iloc[6] # is the row index we want to change 'not assigned' to Queen's park
d1.iloc[6][2]# not assigned
d1.iloc[6][2]='Queen\'s Park' # changes not assigned to queens park

In [242]:

a=d1.groupby(['Postcode','Borough'])['Neighbourhood'].apply(','.join)# froup dataframe by post and borough and join neighborhoods with a comma

print(type(a)) # this shows that result is a seris

b=a.to_frame().reset_index() # change the series into a dataframe and makes index into post borough neighborhood
b # in output

<class 'pandas.core.series.Series'>

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                      Rouge,Malvern
1        M1C  Scarborough               Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough                    Guildwood,Morningside,West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
101      M9V    Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In [244]:
print(b.shape) # to print the number of rows, columns -  
print(b.shape[0])# to print the number of rows

(103, 3)
103

In [ ]:
https://github.com/andwhynot/Coursera_Capstone.git/segmenting.ipynb